*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 8vh;
    position: fixed;
}
.switcher-bar{
    position: fixed;
    position: relative;
    background-color:#333;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    display: flex;    
}

.logo img{
   width: 110px;
   height: 35px;
}
.first{
   
position: absolute;
top: 0;
right: 0;
display: flex;
    background-color:transparent;
  
}
.product-switcher p{
  font-size: 15px;
  color:#9b9b9b;  
}


.btn0{
    width: 100px;
    height: 40px;
   margin-left: 20px;
   background-color: transparent;
   cursor: pointer;
   box-sizing: border-box;
   

}
.btn1 {
    width: 60px;
    height: 50px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
   
}
.btn2{
    width: 60px;
    height: 50px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.btn3{
    width: 60px;
    height: 50px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
.btn4{
    width: 60px;
    height: 50px;
    color: white;
    background-color: #7ac64d;
    font-size: 20px;
    cursor: pointer;
}
.btn5{
    width: 60px;
    height: 50px;
    color: white;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
}
/* .previous {
    font-size: 50px;
    position: absolute; 
    top: 120px;
    left: 0px;
} 
.next{
    font-size: 50px;
    position: absolute;
    top: 120px;
    right: 0;
}
.switcher-body{
    width: 100%;
    background-color: #333;
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
    height: 184px;
    padding: 10px 0 */
.col{
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    }
.fox{
    font-size: 40px;
    font-weight: 900;
    font-family: "Poppins", Arial, sans-serif;
    color: #333;
    text-decoration: none;  
    position: absolute;
    top: 0;
    left: 75px;
}
 .col span{
    font-size: 16px;
    font-weight: 800;
    font-family: "Poppins", Arial, sans-serif;
    position: absolute;
    top:40px;
    left: 75px;
}
.icon1{
    font-size: 18px;
    color: #fd5f00;
    position: absolute;
    top: 100px;
    left: 480px;
}
.text1{
    position: absolute;
    top: 90px;
    left: 510px;
}
 .text1 p{
    color: #6c757d;
}
.icon2{
    font-size: 18px;
    color: #fd5f00;
    position: absolute;
    top: 100px;
    left: 800px;
}
.text2{
    position: absolute;
    top: 90px;
    left: 830px;
}
.text2 p{
    color: #6c757d;
}
.col3{
    position: absolute;
    top: 90px;
    left: 1130px;
}
.col3 button{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right:20px ;
    background-color:#fd5f00 ; 
    border: none;
    
}
.col3 span{
    color: white;
    text-decoration: none;
    font-weight: 800;
}
.navbar {
    background-color: #343a40;
    padding: 20px;
    margin-top: 57px;
    margin-left: 100px;
    margin-right: 100px;
    position: relative; 
}
.search {
    position: absolute;
    top: 5px;
    right: 20px;
}
  button span.fa-solid{
    position: absolute;
    top: 5px;
    right: 0;
    color: rgba(255,255,255,.7)!important;
   
}
input {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    background-color: transparent;
}
.nav ul {
    display: flex;
    width: 100%;
    list-style:none ;
}
.nav ul li {
    width: 10%;
}
.nav ul li a{
    display: block;
    color: aliceblue;
    width: 100%;
    text-decoration: none;
}
 #red{
    color: #fd5f00;
}
.img1 img {
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fd5f00 100%; 
    opacity: 5;
}
.titel{
    position: absolute;
    top: 390px;
    left: 60px;
}
.titel span{
    color: aliceblue;
    font-weight: 900;
    font-size: 50px;
    font-family:"Poppins", Arial, sans-serif;
}
.titel button {
    margin-top:50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right:30px ;
    background-color:#fd5f00 ; 
    border: none;
    border-radius: 30px;
}
.titel p{
    margin-top: 25px;
    color: aliceblue;
}
.titel button span{
font-size:15px ;
font-weight: 500;
}
.container1{
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
}

.row{
position: relative; 
 display: flex;
}

.col4{
    position: relative;
    width: 46%;
    height: 50vh;
    background-color:#fd5f00 ;
}
.col5{
    position: relative;
    width: 46%;
    height: 50vh;
background-color: #0d1128;
}
.col6{
    position: relative;
    width: 46%;
    height: 50vh;
    background-color:#fd5f00 ;
}
.col7{
    position: relative;
    width: 46%;
    height: 50vh;
    background-color: #0d1128;
}
.icon3 span{
    font-size: 100px;
    color: aliceblue;
    position: absolute;
    top: 20px;
    left: 100px;
}
.icon4 span{
    font-size: 100px;
    color: aliceblue;
    position: absolute;
    top: 20px;
    left: 100px;
}
.icon5 span{
    font-size: 100px;
    color: aliceblue;
    position: absolute;
    top: 20px;
    left: 100px;
}
.icon6 span{
    font-size: 100px;
    color: aliceblue;
    position: absolute;
    top: 20px;
    left: 100px;
}
.text3 h1{
    position: absolute;
    top: 130px;
    left: 70px;
color: aliceblue;
}
.text4 h1{
    position: absolute;
    top: 130px;
   left: 70px;
    color: aliceblue;
}
.text5 h1{
    position: absolute;
    top: 130px;
    left: 80px;
    color: aliceblue;
}
.text6 h1{
    position: absolute;
    top: 130px;
    left: 110px;
    color: aliceblue;
}
.text3 p{
    position: absolute;
    top: 180px;
    left: 25px;
color: aliceblue;
text-align: center;
font-size: 20px;
}
.text4 p{
    text-align: center;
    position: absolute;
    top: 180px;
    left: 25px;
    color: aliceblue;
    font-size: 20px;
}
.text5 p{
    text-align: center;
    position: absolute;
    top: 180px;
    left: 25px;
    color: aliceblue;
    font-size: 20px;
}
.text6 p{
    text-align: center;
    position: absolute;
    top: 180px;
    left: 25px;
    color: aliceblue;
    font-size: 20px;
}
.container2{
    width: 100%;
    height: 140vh;
    position: relative;
}
.col8 img{
    position: absolute;
    right: 100px;
    width: 35%;
    height: 140vh;
}
.col9 h2{
    position: absolute;
    top: 60px;
    left: 100px;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 30px;
}
.col9 p{
    position: absolute;
    top: 120px;
    left: 100px;
    color: grey;
    font-family: "Poppins", Arial, sans-serif; 
    font-weight: 700;
}
